{% extends 'adminlte/base.html' %}
{% block content %}
    <div class="pane-wrapper">
        <div class="controls">
            <a href="{% url 'adminPanel:add_bonus' %}" class="btn btn-outline-success">
                افزودن بن تخفیف
            </a>
        </div>
    <div class="content-detail-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">جدول بن ها</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                       placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap ">
                            <thead>
                            <th>کد</th>
                            <th>مبلغ</th>
                            <th>ایجاد کننده</th>
                            <th>محصولات</th>
                            <th>محدودیت سبد خرید</th>
                            <th>تاریخ انقضا</th>
                            <th>وضعیت</th>
                            <th>کنترل</th>
                            </thead>
                            <tbody>
                            {% for bonus in bonus_list %}
                                <tr>
                                    <td>{{ bonus.code }}</td>
                                    <td>{{ bonus.amount }}</td>
                                    <td>{{ bonus.creator.name }}</td>
                                    <td>{{ bonus.product_family }}</td>
                                    <td>{{ bonus.cart_limitation }}</td>
                                    <td>{{ bonus.expire_date }}</td>
                                    <td>{{ bonus.status }}</td>
                                    <td>
                                        <div class="btn btn-group btn-group-sm" dir="ltr">
                                            <a href="/admin/panel/bonuses/delete/{{ bonus.id }}"
                                           class="btn btn-sm btn-outline-danger">delete</a>
                                        <a href="/admin/panel/bonuses/edit/{{ bonus.id }}"
                                           class="btn btn-sm btn-outline-secondary">edit</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <div class="pagination" dir="ltr">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a style="margin: 10px" href="?page=1">&laquo; first</a>
                                    <a style="margin: 10px"
                                       href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}



                                {% if page_obj.has_next %}

                                    <a style="margin: 10px" href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a style="margin: 10px"
                                       href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}

                                <span class="current" style="margin-left: 50px">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}